/* ManageRoomsModal.css */

.manage-rooms-modal-container {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 5px;
  padding: 1em;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
  background-color: #fff;
}
.close-icon {
  color: #dc2626;
  font-size: 1.6em;
  cursor: pointer;
}
.manage-rooms-modal-wrapper {
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.manage-rooms-modal-header {
  display: flex;
  margin-bottom: 1em;
  justify-content: space-between;
  gap: 1em;
}

.manage-rooms-modal-add-button {
  font-size: 0.7em;
  font-weight: bold;
}

.room-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
  align-content: start;
  max-width: 400px;
}

.room-button {
  font-size: 0.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  /* color: #000; */
}

.room-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #0ea5e9;
  color: #fff;
  font-weight: bold;
  border: 1px solid #0ea5e9;
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
}
/* 




.manage-rooms-modal-title {
  font-weight: bold;
}



.room-buttons-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 0.2em;
  align-content: start;
  max-width: 400px;
}



.room-button.selected {
  font-weight: bold;
}

.room-details-container {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  font-size: 0.8em;
  margin-left: 0.5em;
  justify-content: space-between;
  width: 120px;
}

.room-details-title {
  margin: 0;
  margin-bottom: 0.8em;
  font-weight: bold;
  font-size: 1.3em;
}

.room-details-item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.room-details-label {
  margin: 0;
  font-weight: 700;
  font-size: 1em;
}

.room-details-color {
  background-color: var(--room-color);
  width: 20px;
  height: 20px;
  border-radius: 15px;
}

.room-details-value {
  font-size: 1.1em;
  color: var(--room-value-color);
  font-weight: var(--room-value-weight);
}

.manage-room-action-buttons {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 0.5em;
}

.room-action-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button-bg-color);
  color: #fff;
  font-weight: bold;
  border: 1px solid var(--button-border-color);
  border-radius: 5px;
  padding: 0.5em;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  cursor: pointer;
}

.edit-button {
  background-color: #0ea5e9;
  border-color: #0284c7;
}

.delete-button {
  background-color: #ef4444;
  border-color: #dc2626;
} */
