@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.fc {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
}

form {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  width: 100%;
}

header button {
  align-self: end;
  background-color: #0284c7;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
  font-weight: 600;
}

input {
  display: flex;
  padding: 0.2em;
}

.input-title {
  font-size: 1em;
}

label {
  font-size: 0.8em;
  font-weight: bold;
}

.fc-event-main-frame {
  padding-left: 1em;
}

.error {
  margin: 0;
  color: red;
  font-size: 0.7em;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.room-button.selected {
  opacity: 0.5;
}

.form-control {
  font-size: 1em;
  padding: 0.3em;
  width: 90%;
}
