@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');

.fc {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
}

.event-styles {
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fc-daygrid-day-events {
  width: 100%;
}

.fc-toolbar-title {
  color: #525252;
}

.fc-header-toolbar {
  padding: 0.5em;
}

.fc-button-group {
  display: flex;
  gap: 0.5em;
}

.fc-h-event {
  border: none;
}

.fc-sticky {
  color: #fff;
}
/* MODAL */
form {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  width: 100%;
}

header button {
  align-self: end;
  background-color: #0284c7;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
  font-weight: 600;
}

input {
  display: flex;
  padding: 0.2em;
}

.input-title {
  font-size: 1em;
}

label {
  font-size: 0.8em;
  font-weight: bold;
}

.date-time-inputs {
  padding: 0.5em 0;
  border-bottom: #cbd5e1 1px solid;
  border-top: #cbd5e1 1px solid;
}

.date-time-wrapper {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
}

.room-selection {
  display: flex;
  flex-direction: column;
}

.room-selection button {
  padding: 0.7em 0.9em;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.room-list {
  display: flex;

  padding: 0.5em 0;
  justify-content: space-evenly;
}

.guests-and-price-inputs {
  display: flex;
  justify-content: space-between;
}

.guests-and-price-inputs input {
  font-weight: 600;
}

.guests-and-price-buttons {
  display: flex;
  gap: 1em;
}

.guests-and-price-buttons button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: #0284c7 2px solid;
  color: #0284c7;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #fff;
}

.price {
  display: flex;
  gap: 1em;
  align-self: end;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.price-per-day {
  display: flex;
  gap: 1em;
  align-self: end;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
}

.price span {
  font-size: 1.5em;
  color: #65a30d;
}

.price-per-day span {
  font-size: 1.5em;
  color: #a855f7;
}

.form-submit {
  display: flex;
  bottom: none;
  align-self: center;
  font-size: 1.5em;
  background-color: #0891b2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.7em;
}

.form-delete {
  background-color: #dc2626;
  display: flex;
  bottom: none;
  align-self: center;
  font-size: 1.5em;

  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.7em;
}

.delete-confirmation {
  position: fixed;

  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 2px solid red;
}

.delete-confirmation_btn_wrapper {
  display: flex;
  gap: 1em;
}

.delete-confirmation_btn {
  padding: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
}

.modal-edit {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;

  display: flex;

  justify-content: center;
  align-items: flex-start;
  background: #fff;
  border: 1px solid rgb(0 0 0 / 0.3);
  padding: 1em;
  border-radius: 5px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (min-width: 640px) {
  .modal-edit {
    top: 50%;
  }
}

@media (min-width: 1024px) {
  .modal-edit {
    top: 50%;
  }
}

.modal-edit_btn-wrapper {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

.modal-room-selection {
  position: absolute;
  z-index: 2;

  top: 50%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 0.5em;

  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 8px;
  max-width: 400px;
  padding: 0.5em;
  background: #fff;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-room-selection_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1em;
}
.modal-room-selection_header p {
  font-weight: bold;
  margin: 0;
}

.modal-room-selection_header svg {
  color: #dc2626;
  font-size: 1.6em;
  cursor: pointer;
  align-self: end;
}

.modal-room-selection_wrapper {
  display: grid;
  align-content: start;
  grid-template-columns: repeat(4, 1fr);

  gap: 0.2em;
  height: 120px;
  overflow-y: auto;

  align-content: start;
  -ms-overflow-style: none;
  scrollbar-width: none;
  z-index: 0;
  overflow: visible;
}
.modal-room-selection_wrapper::-webkit-scrollbar {
  display: none;
}

.modal-room-selection_wrapper button {
  font-size: 0.74em;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 50px;
  color: #000;
  border: 2px solid #d4d4d8;
  border-radius: 8px;
  background-color: #fff;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
  position: relative;
}
.modal-room-selection_wrapper button:hover {
  background-color: #f9fafb;
}

.modal-room-selection_wrapper button:hover::before {
  content: attr(data-tip);
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translateX(-50%);
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 99;
  white-space: nowrap;
  display: none;
}

.modal-room-selection_wrapper button:hover::before {
  display: block;
  z-index: 99;
}

.discount {
  display: flex;
  flex-direction: column;
  gap: 0.5em;
  align-items: stretch;
}

.discount-container {
  height: 600px;
  width: 300px;
  overflow-y: auto;

  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior-y: none;
}

.discount-box {
  display: flex;

  align-items: flex-start;
  margin-bottom: 0.2em;
}
.discount-box input {
  width: 50px;
}

.discount-box-item-btns {
  display: flex;
  gap: 0.5em;
}

.discount-box-wrapper {
  display: flex;
  flex-direction: column;
  border: solid 1px gray;
  border-radius: 8px;
  padding: 0.2em;
}
.discount-box-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.discount-btns {
  display: flex;
  gap: 0.1em;
}

.discount-btn {
  margin-top: 0.5em;
  background-color: #000;
  color: #fff;
  border-radius: 3px;
  border: none;
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.fc-event-main-frame {
  padding-left: 1em;
}

.error {
  margin: 0;
  color: red;
  font-size: 0.7em;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.room-button.selected {
  opacity: 0.5;
}

.form-control {
  font-size: 1em;
  padding: 0.3em;
}

.rdtTimeToggle {
  padding: 0.5em;
  border: 1px #000 solid;
  font-weight: bold;
  border-radius: 5px;
}

.rdtPrev .rdtNext span {
  padding: 1.3em;
}
