@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&family=Ubuntu:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

.fc {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: 'Poppins', sans-serif;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h2 {
  margin: 0;
}

.event-styles {
  padding: 4px;
  border-radius: 4px;
  font-size: 14px;
  font-weight: bold;
  color: white;
  cursor: pointer;
}

.fc-daygrid-day-events {
  width: 100%;
}

.fc-toolbar-title {
  color: #525252;
}

.fc-header-toolbar {
  padding: 0.5em;
}

.fc-button-group {
  display: flex;
  gap: 0.5em;
}

.fc-h-event {
  border: none;
}

.fc-sticky {
  color: #fff;
}
/* MODAL */
form {
  display: flex;
  width: 100%;

  flex-direction: column;
  justify-content: center;
  gap: 0.3em;
}

header {
  display: flex;
  flex-direction: column;
  padding-bottom: 0.5em;
  width: 100%;
}

header button {
  align-self: end;
  background-color: #0284c7;
  color: #fff;
  border: none;
  border-radius: 15px;
  padding: 0.6em 1.2em;
  font-weight: 500;
  cursor: pointer;
  font-weight: 600;
}

input {
  display: flex;
  padding: 0.2em;
}

.input-title {
  font-size: 1em;
}

label {
  font-size: 0.8em;
  font-weight: bold;
}

.date-time-inputs {
  padding: 0.5em 0;
  border-bottom: #cbd5e1 1px solid;
  border-top: #cbd5e1 1px solid;
}

.date-time-wrapper {
  display: flex;
  gap: 0.2em;
  flex-direction: column;
  width: 100%;
}

.room-selection {
  display: flex;
  flex-direction: column;
}

.room-selection button {
  padding: 0.7em 0.9em;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 0.8em;
  font-weight: bold;
  cursor: pointer;
}

.room-list {
  display: flex;

  padding: 0.5em 0;
  justify-content: space-evenly;
}

.guests-and-price-inputs {
  display: flex;
  justify-content: space-between;
}

.guests-and-price-inputs input {
  font-weight: 600;
}

.guests-and-price-buttons {
  display: flex;
  gap: 1em;
}

.guests-and-price-buttons button {
  border: none;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  cursor: pointer;
  border: #0284c7 2px solid;
  color: #0284c7;
  font-size: 1.2em;
  font-weight: 600;
  background-color: #fff;
}

.price {
  display: flex;
  gap: 1em;
  align-self: end;
  align-items: center;
  font-size: 1em;
  font-weight: bold;
}
.price-per-day {
  display: flex;
  gap: 1em;
  align-self: end;
  align-items: center;
  font-size: 0.8em;
  font-weight: bold;
}

.price span {
  font-size: 1.5em;
  color: #65a30d;
}

.price-per-day span {
  font-size: 1.5em;
  color: #a855f7;
}

.form-submit {
  display: flex;
  bottom: none;
  align-self: center;
  font-size: 1.5em;
  background-color: #0891b2;
  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.7em;
}

.form-delete {
  background-color: #dc2626;
  display: flex;
  bottom: none;
  align-self: center;
  font-size: 1.5em;

  color: #fff;
  border: none;
  border-radius: 10px;
  padding: 0.3em 0.7em;
}

.delete-confirmation {
  position: fixed;

  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #fff;
  border: 2px solid red;
}

.delete-confirmation_btn_wrapper {
  display: flex;
  gap: 1em;
}

.delete-confirmation_btn {
  padding: 5px;
  border: none;
  font-size: 1em;
  font-weight: bold;
  color: #fff;
  padding: 0.5em 1em;
  border-radius: 20px;
  cursor: pointer;
}

.modal {
  position: fixed;
  z-index: 2;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 480px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background: #fff;
  border: 1px solid rgb(0 0 0 / 0.3);
  padding: 1em;
  border-radius: 5px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (max-width: 640px) {
  .modal {
    width: 280px;
  }
}

.modal_btn-wrapper {
  display: flex;
  justify-content: space-around;
  cursor: pointer;
}

@media (max-width: 640px) {
  .modal_btn-wrapper {
    flex-direction: column;
    gap: 0.5em;
  }
}
.modal-table {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 480px;

  display: flex;

  justify-content: center;
  align-items: flex-start;
  background: #fff;
  border: 1px solid rgb(0 0 0 / 0.3);
  padding: 1em;
  border-radius: 5px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

@media (max-width: 640px) {
  .modal-table {
    top: 50%;
    width: 380px;
  }
}

@media (min-width: 1024px) {
  .modal-table {
    top: 50%;
  }
}

.overlay {
  z-index: 1;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.3);
}

.fc-event-main-frame {
  padding-left: 1em;
}

.error {
  margin: 0;
  color: red;
  font-size: 0.7em;
}

.hidden {
  visibility: hidden;
}

.flex {
  display: flex;
}

.room-button.selected {
  opacity: 0.5;
}

.form-control {
  font-size: 1em;
  padding: 0.3em;
  width: 90%;
}

.rdtTimeToggle {
  padding: 0.5em;
  border: 1px #000 solid;
  font-weight: bold;
  border-radius: 5px;
}

.rdtPrev .rdtNext span {
  padding: 1.3em;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.filter-rooms {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filter-rooms_label {
  display: flex;
}

@media (max-width: 640px) {
  .filter-rooms_label {
    display: none;
  }
}

.modal-equipment {
  position: fixed;
  z-index: 2;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 280px;
  top: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 1em;
  background: #fff;

  border: 1px solid rgb(0 0 0 / 0.3);
  padding: 1em;
  border-radius: 5px;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-equipment_btn-wrapper {
  display: flex;
  gap: 0.2em;
  flex-flow: wrap;
  max-width: 300px;
}

.modal-equipment_btn {
  display: flex;
  align-items: center;
  padding: 0.3em 0.4em;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  color: #fff;
  font-size: 0.91em;
  gap: 0.3em;
}

.modal-equipment_btn__remove {
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal-equipment_btn_add {
  background-color: #2563eb;
}
.modal-equipment_btn_selected {
  background-color: #f59e0b;
}
.modal-equipment_btn_chossen {
  background-color: #16a34a;
}
