.modal-room-selection {
  position: absolute;
  z-index: 2;

  top: 50%;

  display: flex;
  flex-direction: column;

  justify-content: center;
  gap: 0.5em;

  border: 1px solid rgb(0 0 0 / 0.3);
  border-radius: 8px;
  max-width: 400px;
  padding: 0.5em;
  background: #fff;
  box-shadow:
    0 10px 15px -3px rgb(0 0 0 / 0.1),
    0 4px 6px -4px rgb(0 0 0 / 0.1);
}

.modal-room-selection_header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.modal-room-selection_header p {
  font-weight: bold;
  margin: 0;
}

.modal-room-selection_header svg {
  color: #dc2626;
  font-size: 1.6em;
  cursor: pointer;
  align-self: end;
}

.modal-room-selection_wrapper {
  display: flex;
  flex-direction: column;

  gap: 0.6em;
  height: 350px;
  overflow-y: auto;
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;

  z-index: 0;
  padding-top: 0.5em;
  min-width: 300px;
  padding-right: 1em;
}

.modal-room-selection_wrapper::-webkit-scrollbar {
  display: none;
}

.modal-room-selection_wrapper button {
  font-size: 0.9em;
  color: #4b5563;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  border: 2px solid #d4d4d8;
  border-radius: 8px;
  background-color: #fff;
  font-weight: bold;
  padding: 0.5em;
  cursor: pointer;
  position: relative;
  gap: 0.3em;
}
.modal-room-selection_wrapper button:hover {
  background-color: #f9fafb;
}

.modal-room-selection_info__top {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

.modal-room-selection_info__top span {
  font-size: 1em;
  display: flex;
  align-items: center;
  gap: 0.2em;
  font-weight: normal;
}

.modal-room-selection_info__top span svg {
  font-size: 1.2em;
  color: #65a30d;
}

.modal-room-selection_info__bottom {
  display: flex;
  justify-content: space-around;
  gap: 0.5em;
}

.modal-room-selection_info__bottom span {
  font-size: 1em;
  font-weight: normal;
  display: flex;
  align-items: center;
  gap: 0.5em;
}

.modal-room-selection_info__bottom span svg {
  font-size: 1.1em;

  color: #65a30d;
}

.modal-room-selection_header {
  font-weight: bold;
}
